/MYMETA.json
/MYMETA.yml
/Build
/_build/
/blib/
/MANIFEST
/MANIFEST.SKIP.bak
/share/htdocs/webmysql/*.etag
/share/htdocs/webmysql/*.gz
/share/htdocs/webmysql/*.min.css
/MANIFEST.bak
/Makefile.PL
/META.json
/META.yml
