<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/webmysql-<!--version-->/main.css" title="Main">
		<title>WebMySQL: Create table</title>
	</head>
	<body>
		<!--menu-->
		<p>Please enter a name for the new table:</p>
		<form action="<!--self-->" method="POST">
			<input type="hidden" name="key" value="<!--key-->">
			<input type="hidden" name="action" value="createtablefields">
			<table align="center" bgcolor="#8899DD" border="1">
				<tr><th>Name</th><td><input type="text" name="tables" maxlength="64"></td></tr>
			</table>
			<br>
			<table align="center" bgcolor="#8899DD" border="1">
				<tr><td><input type="submit" value="Continue"></td></tr>
			</table>
		</form>
	</body>
</html>
