<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/webmysql-2.0/main.css" title="Main">
		<title>WebMySQL: Drop table</title>
	</head>
	<body>
		<table align="center" bgcolor="#8899DD" width="100%" border="1">
			<tr>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=query">Query</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=managetables">Manage tables</a></th>
				<th>Manage databases</th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=serverinfo">Server information</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=logout">Logout</a></th>
			</tr>
		</table>
		<p>The table <b><!--tables--></b> was successfully dropped from the database.</p>
	</body>
</html>
