<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/webmysql-<!--version-->/main.css" title="Main">
		<title>WebMySQL: Error</title>
	</head>
	<body>
		<table align="center" bgcolor="#8899DD" width="100%" border="1">
			<tr>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=query">Query</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=managetables">Manage tables</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=managedatabases">Manage databases</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=serverinfo">Server information</a></th>
				<th><a href="<!--self-->?key=<!--key-->&amp;action=logout">Logout</a></th>
			</tr>
		</table>
		<h1>Error</h1>
		<p>The following error has occured:</p>
		<pre><!--error--></pre>
		<p>Please use your browser's back button to return to the previous page.</p>
	</body>
</html>
