<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/webmysql-<!--version-->/main.css" title="Main">
		<title>WebMySQL: Query</title>
	</head>
	<body>
		<!--menu-->
		<p>Please select a query type.</p>
		<a href="<!--self-->?key=<!--key-->&amp;action=selectchoosetable">Select</a><br>
		Update<br>
		Replace<br>
		<a href="<!--self-->?key=<!--key-->&amp;action=insertchoosetable">Insert</a><br>
		<br><br>
		<a href="<!--self-->?key=<!--key-->&amp;action=importdumpform">Import mysqldump file</a>
	</body>
</html>
