<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/webmysql-<!--version-->/main.css" title="Main">
		<title>WebMySQL: Chose table</title>
	</head>
	<body>
		<!--menu-->
		<p>Please select the table(s) you wish the query to run on.</p>
		<form action="<!--self-->" method="POST">
			<input type="hidden" name="key" value="<!--key-->">
			<input type="hidden" name="action" value="selectchoosefields">
			<table align="center" bgcolor="#8899DD" border="1">
				<!--tablelist-->
			</table>
			<br>
			<table align="center" bgcolor="#8899DD" border="1">
				<tr><td><input type="submit" value="Continue"></td></tr>
			</table>
		</form>
	</body>
</html>
